[submodule "mongodb/mongodb/learn-mongodb/sharding"]
	path = mongodb/mongodb/learn-mongodb/sharding
	url = https://github.com/justmeandopensource/learn-mongodb
[submodule "mongodb/sharding"]
	path = mongodb/sharding
	url = https://github.com/justmeandopensource/learn-mongodb
